<!--<#%- include('includes/head') %>-->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Express</title>
</head>

<body>
    <section class="container">
        <h1><%= titulo %></h1>
        <article class="content">
            <h2> <%= subtitulo %></h2>
            <%= content %>
        </article>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>

</html>
<!--<#%- include('include/footer') %>-->